canvas {
    background-color: rgb(255, 255, 255);
}
body {
    background-image: url("images/gray.jpg");
}
a{
    text-decoration: none;
    color:black;
    font-family: monospace;
    font-size: 2em;
    border-style:groove;
    border-color: rgba(58, 3, 12, 0.486);
}
a:hover{
    color:rgb(170, 0, 94);
    }
