body{
background-image: url("images/flower.jpg");
background-repeat: no-repeat;
background-size:cover;
margin-top: 100px;
margin-left: 500px;
font-family: monospace;
color:black;
font-size: 1.5em;
} 

header h3 a{
 text-decoration: none;
 color:black;
 font-family: monospace;
 font-size: 2em;
 border-style:groove;
 border-color: rgba(58, 3, 12, 0.486);
}
h2 a{
    text-decoration: none;
    color:black;
    
}
a:hover{
    color:rgb(170, 0, 94);
    }