body{
    background-image: url("images/blower.jpg");
    background-repeat: no-repeat;
    margin-top: 100px;
    margin-left: 500px;
    font-family: monospace;
    color:black;
    font-size: 1.5em;
    background-size:cover;
   
    
    
    
}