body{
    font-size: 20px;
    font-family: cursive;  
    color:black;
    background-image: url("pinlpeople.jpg");
   
  }
.q{
    font-weight: 800;
}
h1{
   
    margin-right: 480px;
}
header h2 a {
    text-decoration: none;
}