body{
    font-size: 2em;
    font-family: cursive;  
   background-image: url("images/background.jpg");
   background-repeat: no-repeat;
}
.q{
    font-weight: 800;
}
h1{
    background-color:pink; 
    margin-right: 480px;
}