body{
   background-image: url("images/background.jpg");
   background-repeat: no-repeat;
   background-size:cover;
}

header{
    font-size: 5em;
    margin-left:650px;
    margin-top: 200px;
    font-family:monospace;
}
section{
    margin-left: 800px;
    margin-top:100px;
    font-size: 1.5em;
    
}
header h1 a {
    text-decoration: none;
    color:black;
}
h2{
    text-decoration: none;
    color:black;
 
}
h2 a{
    text-decoration: none;
    color:rgb(80, 4, 43);
    border-style:inset;
    margin-left: 500px;
    border-color: rgba(247, 153, 209, 0.521)


  
}
footer{
    margin-left: 830px;
    margin-top: 200px;
    font-size: 1.5em;
}

a:hover{
    color:rgb(170, 0, 94);
}
#hover:hover{
    color:rgb(0, 0, 0);
}